<html lang="pl_PL">
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <h1 class="heading">Add Task</h1>
      <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
      activeLinkPath}); %>
      <form class="form" action="/add" method="POST">
        <div class="form__group">
          <label class="form__label" for="name"> Name: </label>
          <input id="name" class="form__input" type="text" name="name" />
        </div>
        <div class="form__group">
          <label class="form__label" for="description"> Description: </label>
          <input
            id="description"
            class="form__input"
            type="text"
            name="description"
          />
        </div>
        <div class="form__group">
          <label class="form__label" for="deadline"> Deadline: </label>
          <input id="deadline" class="form__input" type="date" name="deadline" />
        </div>
        <button class="add_task_button" type="submit">Add Task</button>
      </form>
      <% if (typeof errorMessage !== "undefined") { %>
        <script>alert("<%= errorMessage %>");</script>
      <% } %>
    </main>
  </body>
</html>
