<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <h1 class="heading">Home - My Tasks</h1>
      <nav class="navigation">
        <ul class="navigation_list">
          <li><a href="/add" class="add_task">Add Task</a></li>
        </ul>
      </nav>
      <% if (tasks?.length > 0) { %>
      <ul>
        <% tasks.forEach(task => { %>
            <li class="task_list">
              <div class="task_header">
                <h3 class="task_title"><%= task.name %></h3>
                <p class="task_description"> - <%= task.description %></p>
              </div>
              <p class="task_deadline">Deadline: <%= task.deadline %></p>
            </li>
        <% }) %>
      </ul>
      <% } else { %>
      <br />
      <div>No tasks yet.</div>
      <% }%>
    </main>
  </body>
</html>